* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background: rgba(71, 123, 55, 0.8);
}
.background {
  height: 100vh;
  width: 100%;
  background-image: url(bg.webp);
  background-position: center;
  background-size: cover;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #124204;
  margin-right: 40px;
}
.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar ul li a {
  display: flex;
  color: #edffef;
  font-size: 20px;
  padding: 8px 25px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
}
.nav-bar ul li:hover a {
  background-color: #7ec369;
  color: #124204;
  cursor: pointer;
}
.content {
  position: absolute;
  top: 40%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: #30b408;
  font-size: 75px;
  margin: 20px 0px 20px;
}
h3 {
  color: #edffef;
  font-size: 25px;
  margin-bottom: 50px;
}
h4 {
  color: #065710;
  letter-spacing: 2px;
  font-size: 20px;
}
.button {
  position: absolute;
  background-color: #184d07;
  color: #fff;
  text-decoration: none;
  border: 2px solid #103703;
  font-weight: bold;
  padding: 13px 30px;
  transform: 0.4s;
  border-radius: 5px;
}
.button:hover {
  background-color: #39662c;
  color: #124204;
  border: 2px solid black;
  cursor: pointer;
}
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #ffffff;
}
.about img {
  height: auto;
  width: 430px;
  border-radius: 20px 0 20px 0;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
}
.about h2 {
  color: #000000;
  font-size: 75px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about-text p {
  color: #164707;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.about-text {
  width: 500px;
}
/*Recipe Section CSS*/
.recipe {
  width: 100%;
  padding: 100px 0px;
  background-color: #184d07;
}
.recipe h2 {
  color: #edffef;
  font-size: 75px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.box .card img {
  width: 100%;
  height: 1005;
  object-fit: cover;
}
.box .card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #edffef;
  color: #124204;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.box .card:hover .content {
  opacity: 1;
}
.card h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #184d07;
}
.box .card p {
  font-size: 14px;
  margin-bottom: 10px;
}
.box .card button {
  position: relative;
  background-color: #184d07;
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  transform: 0.4s;
  padding: 13px 30px;
}
.box .card button:hover {
  background-color: #a6d398;
  color: #184d07;
  border: 2px solid black;
  cursor: pointer;
}
/*Categories*/
.categories {
  width: 100%;
  padding: 100px 0px;
  background-color: #31523a;
}
.categories h2 {
  color: #edffef;
  font-size: 75px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.ca-card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.box .ca-card .content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  background-color: #edffef;
  color: #124204;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.box .ca-card:hover .content {
  opacity: 1;
}
.ca-card h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #213225;
}
.box .ca-card p {
  font-size: 14px;
  margin-bottom: 10px;
}
.box .ca-card button {
  position: relative;
  background-color: #184d07;
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  transform: 0.4s;
  padding: 13px 30px;
}
.box .ca-card button:hover {
  background-color: #a6d398;
  color: #184d07;
  border: 2px solid black;
  cursor: pointer;
}
.box .ca-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Contact form*/
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background: #ffffff;
}
.contact-info,
.contact-form {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  text-align: center;
  color: #000000;
  font-size: 25px;
}
.contact-info h2,
.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}
.contact-form form {
  text-align: center;
}
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.contact-form button {
  background-color: #184d07;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  transform: 0.4s;
  padding: 10px 0px;
}
.contact-form button:hover {
  background-color: #a6d398;
  color: #184d07;
  border: 2px solid black;
  cursor: pointer;
}
.contact-form label {
  text-align: left;
  color: #000000;
}
.contact-form input,
.contact-form textarea {
  padding: 8px;
}
.contact-info p {
  padding: 15px;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  color: #a6d398;
  text-align: center;
  line-height: 40px;
  font-size: 38px;
}
.social-icon:hover {
  color: #314e52;
  cursor: pointer;
}
footer {
  padding: 20px 0;
  background: #124204;
}
footer h5 {
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  color: #a6d398;
}

.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: center;
}
.recipe-icons i {
  font-size: 1.5rem;
  color: var(--primary-500);
}
.recipe-icons h5,
.recipe-icons p {
  margin-bottom: 0;
  font-size: 0.85em;
}

.recipe-icons p {
  color: var(--grey-600);
}

.recipe-content {
  padding: 3rem 0;
  display: grid;
  gap: 2rem 5rem;
}
@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
  }
}
.single-instruction header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}
.single-instruction header p {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-500);
  margin-bottom: 0;
}
.single-instruction > p {
  color: var(--grey-700);
}

.single-instruction header div {
  height: 2px;
  background: var(--grey-300);
}
.second-column {
  display: grid;
  row-gap: 2rem;
}

.single-ingredient {
  border-bottom: 2px solid black;
  padding-bottom: 0.15rem;
  color: gray;
}
